body {
    text-align: center;
    background-image: url('../img/bg2.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

.tc {
    text-align: center;
    margin-top: 5px;
}

.tl {
    text-align: left;
    margin-top: 5px;
}

.wrapper {
    margin: auto;
    color: white;
    padding: 70px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(48, 113, 169, 0.9);
}

.wrapperGray {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(48, 113, 169, 0.5);
}

.wdefault {
    width: 100px;
}

.mleft {
    margin-left: 10px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 50vw;
}

.customTempDiv {
    margin: 40px auto 40px auto;
    max-width: 400px;
}

#companyIcon1,
#companyIcon2,
#companyIcon3,
#companyIcon4,
#companyIcon5,
#companyIcon6,
#companyIcon7,
#planeIcon1,
#planeIcon2,
#planeIcon3,
#planeIcon4,
#planeIcon5,
#planeIcon6,
#planeIcon7,
#detailIcon,
{
    display: inline-flex;
}

#planeIcon1,
#planeIcon2,
#planeIcon3,
#planeIcon4,
#planeIcon5,
#planeIcon6,
#planeIcon7 {
    float: right;
}

.card {
    width: 100%;
    text-align: center;
}

.card-img-top {
    height: 180px;
    width: 18rem;
    display: block;
}